:root{
  font-family: 'Arial', sans-serif;
  padding: 1em;
  background-color: #f8faff;
  color: #333;

}

.custom-button{
  background: none !important;
  border: none; 
  padding: 0;
}

.custom-button img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: -20px;
}

.supp-button{
  background: none !important;
  border: none; 
  padding: 0;
}

.supp-button img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: -40px;
}